In [2]:
import pandas as pd
import numpy as np

In [3]:
# leitura do arquivo csv de ocorrências
ocorrencias_df = pd.read_csv('data/ocorrencia.csv').replace(("", "***", "****"), np.nan)
print(ocorrencias_df.shape)

# leitura do arquivo csv de aeronaves
aeronaves_df = pd.read_csv('data/aeronave.csv').replace(("", "***", "****"), np.nan)
print(aeronaves_df.shape)

(2027, 19)
(2043, 22)

In [4]:
ocorrencias_df.head()

,codigo_ocorrencia,classificacao,tipo,localidade,uf,pais,aerodromo,dia_ocorrencia,horario,sera_investigada,comando_investigador,status_investigacao,numero_relatorio,relatorio_publicado,dia_publicacao,quantidade_recomendacoes,aeronaves_envolvidas,saida_pista,dia_extracao
0,47965,ACIDENTE,FALHA DO MOTOR EM VOO,ARIQUEMES,RO,BRASIL,SJOG,2013-05-05,11:00:00,NaN,SERIPA-7,NaN,NaN,NaN,NaN,0,1,NaN,2016-07-30
1,50313,INCIDENTE GRAVE,POUSO SEM TREM,CACOAL,RO,BRASIL,SSKW,2013-11-25,12:32:00,SIM,SERIPA-7,FINALIZADA,IG-209/CENIPA/2013,1.0,2014-04-07,0,1,NaN,2016-07-30
2,34078,ACIDENTE,PERDA DE CONTROLE NO SOLO,CEREJEIRAS,RO,BRASIL,NaN,2008-08-07,15:10:00,SIM,SERIPA-7,FINALIZADA,A - 517/CENIPA/2016,1.0,2016-07-07,0,1,1.0,2016-07-30
3,44988,ACIDENTE,POUSO LONGO,AMAJARI,RR,BRASIL,NaN,2011-08-11,17:00:00,SIM,SERIPA-7,FINALIZADA,A-105/CENIPA/2012,1.0,2012-09-20,4,1,NaN,2016-07-30
4,38855,ACIDENTE,PERDA DE CONTROLE EM VOO,ACEGUÁ,RS,BRASIL,NaN,2009-12-28,17:30:00,SIM,SERIPA-5,ATIVA,A DEFINIR,NaN,NaN,0,1,NaN,2016-07-30

In [5]:
ocorrencias_df.duplicated().sum()

0

In [6]:
aeronaves_df.head()

,codigo_aeronave,codigo_ocorrencia,matricula,codigo_operador,equipamento,fabricante,modelo,tipo_motor,quantidade_motores,peso_maximo_decolagem,...,pais_registro,categoria_registro,categoria_aviacao,origem_voo,destino_voo,fase_operacao,tipo_operacao,nivel_dano,quantidade_fatalidades,dia_extracao
0,4,45602,PPGXE,241,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,56-C,PISTÃO,1.0,660,...,BRASIL,PRI,INSTRUÇÃO,SDPW,SDPW,INDETERMINADA,INSTRUÇÃO,SUBSTANCIAL,NaN,2016-07-30
1,40,53551,PPGSZ,160,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,56-C,PISTÃO,1.0,660,...,BRASIL,PRI,INSTRUÇÃO,SBBP,SBBP,DECOLAGEM,INSTRUÇÃO,LEVE,NaN,2016-07-30
2,118,43721,PTCMT,1232,AVIÃO,BEECH AIRCRAFT,95-B55,PISTÃO,2.0,2310,...,BRASIL,TPX,TÁXI AÉREO,NaN,NaN,CORRIDA APÓS POUSO,TÁXI AÉREO,SUBSTANCIAL,NaN,2016-07-30
3,130,35556,PTEQI,3992,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-721C,PISTÃO,1.0,1633,...,BRASIL,TPP,PARTICULAR,SNDU,SBSL,CORRIDA APÓS POUSO,PRIVADA,LEVE,NaN,2016-07-30
4,191,32579,PPVMM,4365,AVIÃO,BOEING COMPANY,737-241,JATO,2.0,52389,...,BRASIL,TPR,REGULAR,NaN,NaN,SUBIDA,REGULAR,NENHUM,NaN,2016-07-30

In [7]:
aeronaves_df.duplicated().sum()

0

### Removendo colunas

In [8]:
ocorrencias_df.isna().sum() / len(ocorrencias_df) *100

codigo_ocorrencia            0.000000
classificacao                0.000000
tipo                         0.000000
localidade                   0.000000
uf                           0.098668
pais                         0.000000
aerodromo                   60.187469
dia_ocorrencia               0.000000
horario                      0.000000
sera_investigada            10.014800
comando_investigador         0.000000
status_investigacao         10.162802
numero_relatorio            10.162802
relatorio_publicado         50.912679
dia_publicacao              50.912679
quantidade_recomendacoes     0.000000
aeronaves_envolvidas         0.000000
saida_pista                 87.370498
dia_extracao                 0.000000
dtype: float64

In [9]:
ocorrencias_df['saida_pista'].value_counts()

saida_pista
1.0    248
0.0      8
Name: count, dtype: int64

In [10]:
ocorrencias_df.drop(['aerodromo', 'relatorio_publicado', 'dia_publicacao', 'saida_pista', 'numero_relatorio', 'dia_extracao', 'sera_investigada', 'comando_investigador', 'status_investigacao'], axis=1, inplace=True)

In [11]:
ocorrencias_df.head()

,codigo_ocorrencia,classificacao,tipo,localidade,uf,pais,dia_ocorrencia,horario,quantidade_recomendacoes,aeronaves_envolvidas
0,47965,ACIDENTE,FALHA DO MOTOR EM VOO,ARIQUEMES,RO,BRASIL,2013-05-05,11:00:00,0,1
1,50313,INCIDENTE GRAVE,POUSO SEM TREM,CACOAL,RO,BRASIL,2013-11-25,12:32:00,0,1
2,34078,ACIDENTE,PERDA DE CONTROLE NO SOLO,CEREJEIRAS,RO,BRASIL,2008-08-07,15:10:00,0,1
3,44988,ACIDENTE,POUSO LONGO,AMAJARI,RR,BRASIL,2011-08-11,17:00:00,4,1
4,38855,ACIDENTE,PERDA DE CONTROLE EM VOO,ACEGUÁ,RS,BRASIL,2009-12-28,17:30:00,0,1

In [12]:
aeronaves_df.isna().sum() / len(aeronaves_df) *100

codigo_aeronave            0.000000
codigo_ocorrencia          0.000000
matricula                  0.000000
codigo_operador            0.000000
equipamento                0.244738
fabricante                 5.384239
modelo                     0.734214
tipo_motor                 1.370534
quantidade_motores         0.440529
peso_maximo_decolagem      0.000000
quantidade_assentos        0.881057
ano_fabricacao             0.195791
pais_registro              0.000000
categoria_registro         0.440529
categoria_aviacao          1.223691
origem_voo                54.331865
destino_voo               58.932942
fase_operacao              0.000000
tipo_operacao              1.272638
nivel_dano                 3.377386
quantidade_fatalidades    82.623593
dia_extracao               0.000000
dtype: float64

In [13]:
aeronaves_df['quantidade_fatalidades'].value_counts()

quantidade_fatalidades
1.0      166
2.0      102
3.0       32
4.0       24
5.0       12
6.0        6
7.0        3
8.0        3
10.0       1
24.0       1
19.0       1
199.0      1
154.0      1
14.0       1
16.0       1
Name: count, dtype: int64

In [14]:
# Substituindo Nan por 0 nas fatalidades
aeronaves_df['quantidade_fatalidades'].fillna(0, inplace=True)

In [15]:
aeronaves_df.drop(['matricula', 'dia_extracao', 'categoria_registro','origem_voo', 'destino_voo'], axis=1, inplace=True)

In [16]:
# conversão da coluna 'quantidade_fatalidades' para int
aeronaves_df['quantidade_fatalidades'] = aeronaves_df['quantidade_fatalidades'].astype(int)

In [17]:
aeronaves_df.head()

,codigo_aeronave,codigo_ocorrencia,codigo_operador,equipamento,fabricante,modelo,tipo_motor,quantidade_motores,peso_maximo_decolagem,quantidade_assentos,ano_fabricacao,pais_registro,categoria_aviacao,fase_operacao,tipo_operacao,nivel_dano,quantidade_fatalidades
0,4,45602,241,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,56-C,PISTÃO,1.0,660,2.0,1962.0,BRASIL,INSTRUÇÃO,INDETERMINADA,INSTRUÇÃO,SUBSTANCIAL,0
1,40,53551,160,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,56-C,PISTÃO,1.0,660,2.0,1960.0,BRASIL,INSTRUÇÃO,DECOLAGEM,INSTRUÇÃO,LEVE,0
2,118,43721,1232,AVIÃO,BEECH AIRCRAFT,95-B55,PISTÃO,2.0,2310,6.0,1966.0,BRASIL,TÁXI AÉREO,CORRIDA APÓS POUSO,TÁXI AÉREO,SUBSTANCIAL,0
3,130,35556,3992,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-721C,PISTÃO,1.0,1633,6.0,1979.0,BRASIL,PARTICULAR,CORRIDA APÓS POUSO,PRIVADA,LEVE,0
4,191,32579,4365,AVIÃO,BOEING COMPANY,737-241,JATO,2.0,52389,117.0,1975.0,BRASIL,REGULAR,SUBIDA,REGULAR,NENHUM,0

### Juntando os datasets

In [18]:
# Juntando os dois datasets
full_df = aeronaves_df.merge(ocorrencias_df, on='codigo_ocorrencia')
print(full_df.shape)

(2043, 26)

In [19]:
full_df.columns

Index(['codigo_aeronave', 'codigo_ocorrencia', 'codigo_operador',
       'equipamento', 'fabricante', 'modelo', 'tipo_motor',
       'quantidade_motores', 'peso_maximo_decolagem', 'quantidade_assentos',
       'ano_fabricacao', 'pais_registro', 'categoria_aviacao', 'fase_operacao',
       'tipo_operacao', 'nivel_dano', 'quantidade_fatalidades',
       'classificacao', 'tipo', 'localidade', 'uf', 'pais', 'dia_ocorrencia',
       'horario', 'quantidade_recomendacoes', 'aeronaves_envolvidas'],
      dtype='object')

In [20]:
full_df.head()

,codigo_aeronave,codigo_ocorrencia,codigo_operador,equipamento,fabricante,modelo,tipo_motor,quantidade_motores,peso_maximo_decolagem,quantidade_assentos,...,quantidade_fatalidades,classificacao,tipo,localidade,uf,pais,dia_ocorrencia,horario,quantidade_recomendacoes,aeronaves_envolvidas
0,4,45602,241,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,56-C,PISTÃO,1.0,660,2.0,...,0,ACIDENTE,INDETERMINADA,PIRACICABA,SP,BRASIL,2011-06-14,20:00:00,0,1
1,40,53551,160,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,56-C,PISTÃO,1.0,660,2.0,...,0,INCIDENTE GRAVE,PERDA DE CONTROLE NO SOLO,BRAGANÇA PAULISTA,SP,BRASIL,2015-11-05,19:15:00,0,1
2,118,43721,1232,AVIÃO,BEECH AIRCRAFT,95-B55,PISTÃO,2.0,2310,6.0,...,0,ACIDENTE,COM TREM DE POUSO,CRATEÚS,CE,BRASIL,2010-12-15,09:00:00,4,1
3,130,35556,3992,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-721C,PISTÃO,1.0,1633,6.0,...,0,INCIDENTE GRAVE,COM TREM DE POUSO,SÃO LUÍS,MA,BRASIL,2009-02-04,15:25:00,1,1
4,191,32579,4365,AVIÃO,BOEING COMPANY,737-241,JATO,2.0,52389,117.0,...,0,INCIDENTE GRAVE,FALHA DO MOTOR EM VOO,TEFÉ,AM,BRASIL,2008-06-07,14:45:00,0,1

### Feature engineering

In [21]:
def get_day_period(time):
    hour = int(time.split(':')[0])
    period = ""
    if 6 <= hour <= 12:
        period = "manha"
    elif 13 <= hour <= 18:
        period = "tarde"
    elif 19 <= hour <= 23:
        period = "noite"
    elif 00 <= hour <= 5:
        period = "madrugada"
    return period

def get_month_period(day):
    period = ""
    if 1 <= day <= 10:
        period = "inicio"
    elif 11 <= day <= 20:
        period = "meio"
    elif 21 <= day <= 31:
        period = "fim"
    return period

def get_week_period(day):
    period = ""
    if day in range(0,5):
        period = "semana"
    else:
        period = "fds"

    return period

In [22]:
full_df.loc[:, "dia"] = pd.to_datetime(full_df.loc[:, "dia_ocorrencia"]).dt.day.astype(int)
full_df.loc[:, "mes"] = pd.to_datetime(full_df.loc[:, "dia_ocorrencia"]).dt.month.astype(int)
full_df.loc[:, "ano"] = pd.to_datetime(full_df.loc[:, "dia_ocorrencia"]).dt.year.astype(int)
full_df.loc[:, "periodo_mes"] = full_df.loc[:, "dia"].apply(lambda x: get_month_period(x))
full_df.loc[:, "dia_semana"] = pd.to_datetime(full_df.loc[:, "dia_ocorrencia"]).dt.day_of_week.astype(int)
full_df.loc[:, "periodo_semana"] = full_df.loc[:, "dia_semana"].apply(lambda x: get_week_period(x))
full_df.loc[:, "hora"] = pd.to_datetime(full_df['horario'], format='%H:%M:%S').dt.hour
full_df.loc[:, "periodo_dia"] = full_df.loc[:, "horario"].apply(lambda x: get_day_period(x))

In [23]:
full_df.head()

,codigo_aeronave,codigo_ocorrencia,codigo_operador,equipamento,fabricante,modelo,tipo_motor,quantidade_motores,peso_maximo_decolagem,quantidade_assentos,...,quantidade_recomendacoes,aeronaves_envolvidas,dia,mes,ano,periodo_mes,dia_semana,periodo_semana,hora,periodo_dia
0,4,45602,241,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,56-C,PISTÃO,1.0,660,2.0,...,0,1,14,6,2011,meio,1,semana,20,noite
1,40,53551,160,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,56-C,PISTÃO,1.0,660,2.0,...,0,1,5,11,2015,inicio,3,semana,19,noite
2,118,43721,1232,AVIÃO,BEECH AIRCRAFT,95-B55,PISTÃO,2.0,2310,6.0,...,4,1,15,12,2010,meio,2,semana,9,manha
3,130,35556,3992,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-721C,PISTÃO,1.0,1633,6.0,...,1,1,4,2,2009,inicio,2,semana,15,tarde
4,191,32579,4365,AVIÃO,BOEING COMPANY,737-241,JATO,2.0,52389,117.0,...,0,1,7,6,2008,inicio,5,fds,14,tarde

In [24]:
full_df.columns

Index(['codigo_aeronave', 'codigo_ocorrencia', 'codigo_operador',
       'equipamento', 'fabricante', 'modelo', 'tipo_motor',
       'quantidade_motores', 'peso_maximo_decolagem', 'quantidade_assentos',
       'ano_fabricacao', 'pais_registro', 'categoria_aviacao', 'fase_operacao',
       'tipo_operacao', 'nivel_dano', 'quantidade_fatalidades',
       'classificacao', 'tipo', 'localidade', 'uf', 'pais', 'dia_ocorrencia',
       'horario', 'quantidade_recomendacoes', 'aeronaves_envolvidas', 'dia',
       'mes', 'ano', 'periodo_mes', 'dia_semana', 'periodo_semana', 'hora',
       'periodo_dia'],
      dtype='object')

In [25]:
full_df.drop(['codigo_ocorrencia', 'horario', 'dia_ocorrencia'], axis=1, inplace=True)

In [27]:
full_df.dropna(inplace=True)

In [28]:
full_df.to_csv("data/acorrencia_aeronave_final.csv", index=False)